<launch>
    <arg name="bagfile" default="mingi-record.bag"/>

    <node pkg="rosbag" type="play" name="rosbag_playback_node" args="$(find julienb_graphoptimization)/bags/$(arg bagfile)">  
    </node>

    <node pkg="julienb_graphoptimization" type="pa3optimizer.py" name="julienb_optimizer" output="screen">
    </node>
</launch>